@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root{
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha:rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}


*{
    padding: 0px;
    margin: 0px;
}

.headline{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.headline p{
    font-style: italic;
}

body{
    font-family:'Poppins', sans-serif;
    font-size:1rem;
    font-weight: 400;
    line-height: 1.4;
    color:var(--color-white);
    margin: 0;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), url(/assets/OIP.jpg);
    background-size:fit;
    background-position: center;
}

h1{
    font-weight: 400;
    line-height: 1.2;
}

p{
    font-size: 1.125rem;
}

h1,
p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label{
    display: flex;
    align-items: start;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

#name-label{
    display: flex;
    flex-direction: column;

}

#name-label input{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 0.3rem;
    height: 2.3rem;
    /* margin: 5px 0px; */
    
}

.span-name{
    margin-bottom: 5px;
}

#email-label{
    display: flex;
    flex-direction: column;
    
}

#email-label input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
    
}

#number-label{
    display: flex;
    flex-direction: column;
}

#number-label input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
}

#dropdown{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
}

#fav-feature{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
}

#comments{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
}

#submit{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 0.3rem;
    height: 2.3rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    border: none;
}

.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}

@media (min-width: 700px;){
    .container{
        max-width: 720px;
    }
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description {
    font-style: italic;
    font-weight:200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}

/* Form */

form{
    background: var(--color-darkblue-alpha);
    border-radius: 0.45rem;
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
    padding: 70px;
    height: 50%;
}

@media(min-width:480px;) {
    form{
        padding: 2.5rem;
    }
}

.form-group{
    margin:0 auto 1.25rem auto;
    padding: 0.25rem;
}


.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    /* padding: 5px 5px; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    min-width: 75%;
    padding: 0.625rem;
    resize: vertical;
}

.submit-button{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}